<p id="notice"><%= notice %></p>

<h1>Works</h1>

<ul>
  <% @works.each do |work| %>
    <li class="work">
      <div>
      <%= work.name %> &mdash;
      <%= work.creator %>
      </div>

      <section class="properties" data-controller="toggle">
        Files: <button data-action="click->toggle#toggle">Hide</button>
        <ul class="files">
          <% work.attached_files.each do |file| %>
            <li class="file">
              <%= file.filename %>
            </li>
          <% end %>
        </ul>
      </section>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Work', new_work_path %>
